{% extends 'base.html.twig' %}

{% block title %}New Messagerie{% endblock %}

{% block body %}

<div class="container mt-5">

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="d-flex justify-content-center">
            <a class="btn btn-secondary" href="{{ path('app_messagerie_index') }}">Retour à la liste des messages</a>
            {# <a class="btn btn-success">{{ button_label|default('Save') }}</a> #}
        </div>
    {{ form_end(form) }}

    {# {{ include('messagerie/_form.html.twig') }} #}

{% endblock %}